<div class="container">
    <h2 class="tit-comm pt-5">The Ultimate Movie Buffs' Club: A Must-See List of Fan Favorites!</h2>
    <br>
    <div class="row pt-5">
        {{#each users}}

        <div class="card col-4 m-1 mb-5" id="card-profile" style=" max-width: 300px">
            <div class="row g-0">
                <div class="col-md-4 align-self-center pt-2 pb-2">
                    <img src="{{avatar}}" id="img-user-list" alt="movie fan" class="rounded">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">{{username}}</h5>
                            <p id="profile-text-list">{{description}}</p>
                        </div>

                        <a href="/user/{{id}}" id="bt-list-profile" class="btn btn-outline-primary me-1 flex-grow-1">Go
                            to profile</a>

                    </div>
                </div>
            </div>
        </div>


        {{/each}}
    </div>
</div>