<div class="container">

    <h1>Profile of {{username}}</h1>
    <hr>
    <img src="{{avatar}}" alt="avatar">
    <hr>
    <p>Description: {{description}}</p>
    <hr>
    <p>Email: {{email}}</p>
    <hr>


    <a href="/user/list" class="btn btn-dark">Back to list</a>

</div>