<div class="px-2 pt-3 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">About us</h1>
    <div class="col-lg-10 mx-auto text-start lead mb-2">
        <p> Welcome to our website! We are two beginner web developer students with a passion for
            creating beautiful and functional websites. Our journey into the world of web development started with a
            desire to learn something new and
            exciting. </p>
        <p>We've spent countless hours studying the art of web development, and we're excited to share our knowledge
            and skills
            with the world. We believe that a website should not only be visually stunning but also provide an excellent
            user
            experience. We strive to create websites that are easy to navigate, responsive, and accessible to everyone.
        </p>
        <p>Our expertise in web development includes front-end development, back-end development, database design, and
            optimization. We're continuously learning and expanding our knowledge of the latest web technologies to
            ensure that
            we're always up-to-date with the latest trends and best practices.
        </p>
        <p>We're dedicated to delivering high-quality web development services to our clients. We take pride in our
            work and aim to
            exceed our clients' expectations. Whether you're a small business owner, blogger, or entrepreneur, we can
            help you build
            an online presence that reflects your brand and achieves your goals.
        </p>
        <hr>
        <p>Thank you for visiting our website. If you have any questions or would like to learn more about our
            services, please
            don't hesitate to contact us in github. We look forward to hearing from you!
        </p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-50">
            <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500"
                loading="lazy">
        </div>
    </div>
</div>