body {
  font-family: sans-serif;
}

img {
  width: 100%;
}

.nav-menu {
  margin-bottom: 50px;
}

#menu-web {
  background-color: #FF851B;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text-small {
  font-size: 85%;
}

#ini-btn {
  background-color: #FF851B;
  border-color: #FF851B
}