<div class="container">

    <div class="row justify-content-center">

        <h2> Movie Random List </h2>

        <ul>
            {{#each movies }}

            <li> {{original_title}}


                <img src="https://www.themoviedb.org/t/p/w440_and_h660_face{{poster_path}}" alt="image">
            </li>

            {{/each}}
        </ul>

    </div>

</div>