<div class="container">
    <div class="row justify-content-center">

        <h1>Look for random movie</h1>

        <form action="/movie/random" method="GET">

            <div class="mb-3">
                <label for="yearInput" class="form-label">Year:</label>
                <input type="text" class="form-control" name="year" id="yearInput">
            </div>

            <div class="mb-3">
                <label for="rateInput" class="form-label">Rate:</label>
                <input type="text" class="form-control" name="rate" id="rateInput">
            </div>

            <div class="mb-3">
                <label for="genreInput" class="form-label">Genre:</label>
                <select class="form-select" aria-label="Default select example" name="genre" id="genreInput">
                    <option selected>Open this select menu</option>
                    <option value="28">Action</option>
                    <option value="12">Adventure</option>
                    <option value="16">Animation</option>
                    <option value="35">Comedy</option>
                    <option value="99">Documentary</option>
                    <option value="14">Fantasy</option>
                    <option value="27">Horror</option>
                    <option value="9648">Mystery</option>
                    <option value="10749">Romance</option>
                    <option value="53">Thriller</option>
                    <option value="37">Western</option>

                </select>
            </div>

            <div>
                <button type="submit" class="btn btn-dark">Search</button>
            </div>

            {{#if errorMessage}}
            <div id="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
            {{/if}}


        </form>


    </div>
</div>